<div class="bots-launch-page">
  <div class="bot-list">
    <button
      mat-button
      *ngFor="let botName of availableBots"
      [value]="botName"
      [ngClass]="getBotButtonClasses(botName)"
      (click)="selectBot(botName)"
      [attr.data-testid]="'bots-launch-page-bot-list-elem-' + botName.toLowerCase()"
    >
      {{ botName }}
    </button>
  </div>
  <div class="bot-config" *ngIf="isConfigVisible">
    {{ configTitle }}
    <mat-form-field appearance="fill">
      <mat-label>{{ executionPeriodInputFieldLabel }}</mat-label>
      <input data-testid="bots-launch-page-execution-period" matInput [(ngModel)]="executionPeriodInput" placeholder="0" />
    </mat-form-field>
    <mat-checkbox class="checkbox" data-testid="bots-launch-page-is-executed-immediately-checkbox" [(ngModel)]="isExecutedImmediately"
      >Is executed immediately</mat-checkbox
    >
    <mat-spinner *ngIf="areAvailableQuoteAssetsLoading" class="spinner" color="accent" diameter="20"></mat-spinner>
    <mat-form-field *ngIf="!areAvailableQuoteAssetsLoading" appearance="fill">
      <mat-label>Quote asset</mat-label>
      <mat-select data-testid="bots-launch-page-quote-asset" [(ngModel)]="selectedQuoteAsset" (selectionChange)="onQuoteAssetChange()">
        <mat-option *ngFor="let asset of availableQuoteAssets" [attr.data-testid]="'bots-launch-page-quote-asset-' + asset" [value]="asset">
          {{ asset }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="isQuoteAssetSelected" class="base-assets">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="assetSymbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Base asset symbol</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="deleteSelectedBaseAssetConfig(element)" mat-menu-item>Delete</button>
            </mat-menu>
            {{ element.assetSymbol }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expectedShare">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Expected share in full percents</th>
          <td mat-cell *matCellDef="let element">{{ element.expectedShare }}</td>
        </ng-container>

        <!-- first row -->
        <tr mat-header-row *matHeaderRowDef="displayedSelectedBaseAssetsTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedSelectedBaseAssetsTableColumns"></tr>
      </table>
      <mat-spinner *ngIf="areAvailableBaseAssetsLoading" class="spinner" color="accent" diameter="20"></mat-spinner>
      <div *ngIf="!areAvailableBaseAssetsLoading" class="add-base-asset-button-wrapper">
        <button class="add-base-asset-button" data-testid="bots-launch-page-add-base-asset-button" mat-button (click)="addBaseAsset()">
          Add base asset
        </button>
      </div>
      {{ baseAssetConfigSummary }}
    </div>
    <div class="launch-button-wrapper">
      <button *ngIf="isConfigValid" class="launch-button" data-testid="bots-launch-page-launch-bot-button" mat-button (click)="startBot()">
        Launch bot
      </button>
      <button
        *ngIf="isConfigValid"
        class="launch-button"
        data-testid="bots-launch-page-open-backtest-dialog-button"
        mat-button
        (click)="openBacktestDialog()"
      >
        Backtest
      </button>
    </div>
  </div>
</div>
