.bots-launch-page {
  width: 100%;
  display: flex;
  background-color: #34383a;

  .bot-list {
    width: 30vw;

    background-color: #4d5256;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    .bot-list-elem {
      padding: 20px;
      text-align: center;
      border-radius: 8px;
    }

    button {
      &.isSelected {
        background-color: #34383a;

        ::ng-deep .mdc-button__label {
          color: white;
        }
      }
    }
  }

  .bot-config {
    height: 100vh;
    width: 70vw;
    background-color: #34383a;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2vh 2vw;

    ::ng-deep .mdc-label {
      color: white !important;
    }

    .add-base-asset-button-wrapper {
      display: flex;
      justify-content: center;

      ::ng-deep .add-base-asset-button {
        width: 20vw;
        margin-top: 0.5vh;
        margin-bottom: 3vh;
      }
    }

    .launch-button-wrapper {
      display: flex;
      justify-content: center;

      ::ng-deep .launch-button {
        width: 20vw;
        margin-top: 0.5vh;
        margin-bottom: 3vh;
      }
    }
  }
}
