<div class="bots-launch-page">
  <div class="bot-list">
    <button
      mat-button
      *ngFor="let botName of availableBots"
      [value]="botName"
      [ngClass]="getBotButtonClasses(botName)"
      (click)="selectBot(botName)"
      [attr.data-testid]="'bots-launch-page-bot-list-elem-' + botName.toLowerCase()"
    >
      {{ getDisplayName(botName) }}
    </button>
  </div>

  <app-rebalancer-config *ngIf="isRebalancerBot"></app-rebalancer-config>
  <app-moving-average-crossover-config *ngIf="isMovingAverageCrossoverBot"></app-moving-average-crossover-config>
  <app-donchian-channel-breakout-strategy-config
    *ngIf="isDonchianChannelBreakoutStrategyBot"
  ></app-donchian-channel-breakout-strategy-config>
</div>
