<div>
  <mat-spinner *ngIf="isLoading" class="spinner" color="accent" diameter="50"></mat-spinner>
  <table id="assets-table" *ngIf="!isLoading" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- column: assetSymbol -->
    <ng-container matColumnDef="assetSymbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AssetSymbol</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>sync_alt</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button id="make-order-dialog-menu-item" (click)="showMakeOrderDialog(element)" mat-menu-item>Trade</button>
        </mat-menu>
        {{ element.assetSymbol }}
      </td>
    </ng-container>

    <!-- column: free -->
    <ng-container matColumnDef="freeQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Free</th>
      <td mat-cell *matCellDef="let element">{{ element.freeQuantity }}</td>
    </ng-container>

    <!-- column: usdt value -->
    <ng-container matColumnDef="usdtValue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>USDT value</th>
      <td mat-cell *matCellDef="let element">{{ element.usdtValue }}</td>
    </ng-container>

    <!-- first row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
