.notification {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.5vmin;

    padding: 1.5vmin 1.5vmin;
    border: 0.2vmin solid #000000;

    &.isError {
        background-color: #8d0905;
    }

    &.isInfo {
        background-color: #030f6b;
    }
}

.mat-mdc-snack-bar-label {
    padding: 0;
}

.mat-mdc-snackbar-surface {
    padding: 0;
}