<div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- column 1: asset -->
        <ng-container matColumnDef="asset">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset</th>
            <td mat-cell *matCellDef="let element">{{ element.asset }}</td>
        </ng-container>

        <!-- column 2: free -->
        <ng-container matColumnDef="freeAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Free</th>
            <td mat-cell *matCellDef="let element">{{ element.freeAmount }}</td>
        </ng-container>

        <!-- column 2: usdt value -->
        <ng-container matColumnDef="usdtValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>USDT value</th>
            <td mat-cell *matCellDef="let element">{{ element.usdtValue }}</td>
        </ng-container>

        <!-- first row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>